img {

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.mainpage {
    font-weight: bold;
    color: blue;
    background: #e7eaf6;
}
.list {
    background: #a2a8d3;
    font-family: "Helvetica", "sans-serif";
    font-weight: bold;
    padding: 13px;
    border: 2px;
    border-color: black;
}
.third-color { 
	background: #38598b; 
}

.fourth-color { 
	background: #113f67;
}
.link_divider {
    width: 50%;
    height: auto;
}
.photo-op {
 margin: 16px;
 padding: 0px;
 background-color: #113f67;
 width: 200px;
 height: auto;
 display:inline-block;
 margin-bottom: -20px;
}
.ingredients {
    display: inline-block;
    background-color: #113f67;
    color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 16px;
    text-align: left;
}
.steps {
    background-color: #38598b;
    color: white;
    padding: 8px;
    width: 75%;
    text-align: left;
    margin: left;
}